*{
    margin: 0px;
    padding: 0px;
    /* max-width: 100vw; */
    --violeta:rgb(177, 20, 216);
    --gris: #1c1c1d;
    font-family: roboto;
}

.header{
    width: 100vw;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation-name: header;
    animation-direction: normal;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    }

@keyframes header{
    0%{
        background-color: NONE;
    }
    100%{
        background-color:var(--gris);
    }
}

.menu{    
    display: flex;
    margin-right: 40px;
    width: 200px;
    justify-content: space-between;
}

.nav-link{
    text-decoration: none;
    color: white;
    background-color:rgb(70, 71, 68);
    padding: 3%; 
    border-radius: 5%;   
    transition: border-radius 0.9s;
}

.nav-link:hover{
    text-decoration: none;
    color: white;
    background-color:var(--violeta);
    border-radius: 15px;
    transition: all 1s;
}

.logopaka{
    color: white;
    height: 80px;
    margin-top: 10px;
    width: min(250px, 90%);

}

@media screen and (max-width: 385px) {
    .logopaka{
      height: 30px;
  }  
}    
@media screen and (max-width: 475px) {
      .logopaka{
        height: 50px;
    }  
}    

body{
    background-image: url(img/gente.jpg);
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--violeta);   
}

section{
    display: grid;
    justify-items: center;
}

.anos{
    display: grid;
    justify-content: center;
    color: var(--violeta);
    background-color: var(--gris);
    border: 2.5px blueviolet solid;
    border-radius: 20%;
}

h2{
    font:fade;
}

.cont1{
    position: absolute;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 950px;
    width: min(950px,90%);
    border: groove 8px var(--violeta) ;
    overflow: hidden;
    box-shadow: 0 15px 50px ;
}

.slider{
    display: flex;
    width: 900%;
    height: 950px;
    margin-left: -100%;
}

.slider_section{
    width: 100%;
}

.slider_img{
    display: block;
    /* width: 100%; */
    height: 100%;
    object-fit: cover; 
    
}

.slider-btn{ 
    position: absolute;
    height: 40px;
    width: 40px;
    background: rgba(118, 7, 170, 0.250) ;
    top: 50%;
    border: solid 2px rgba(177, 20, 216, 0.692) ;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 5%;
    display: block;
    align-items: center;
    cursor: pointer;
    font-family: monospace;
    /* transition: border-radius 0.9s; */
    /* transition: background-color 0.9; */
}

.slider-btn:hover{
    background-color: var(--violeta) ;
    border-radius: 50%;
    transition: all 1.5s;
    border: solid 2px black ;
}

.btn-izq{
    left: 10px;
}

.btn-der{
    right: 10px;
}

.logo{
    margin-top: 1000px;
    margin-bottom: 15px;
}

.cont2{
    
    display: grid;
    background-image: url(img/RISAS.jpg);
    background-position: center;
    background-size: cover;
    height: 850px;
    align-items: center;
    width: min(90%,950px);
    border: groove 8px var(--violeta) ;
    background-color: var(--gris);
    margin-bottom: 30px;
    box-shadow: 0 15px 50px ;
}

.ubi{
    margin-inline: auto;
    height: 10px;
    width: 8px;
    border: groove 3px var(--violeta) ;
    border-radius: 15%;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color:rgb(70, 71, 68);
    padding: 4%; 
    border-radius: 15px;   
    transition: all 1s;
    /* margin-left: 425px; */
}

.ubi:hover{
    text-decoration: none;
 
    background-color:transparent;
    border-radius: none;
    border-left: none;
    border-top: none;
    border-bottom: 4px groove var(--violeta);
    border-right: 4px groove var(--violeta);
    transition: all 1s;
    transform: scale(1.3) rotate(45deg);
    
}

p{
    transition: all 1s;
}

.ubi:hover p{
    transition: all 1s;
    transform: rotate(-45deg);
    font-size: 22px;

}

.mapa{
    width: 90%;
    height: 100%;
    margin-bottom: 10%;
    margin-inline: auto;
   
}

@media screen and (max-width: 1000px) {
    .ubi{
        padding: 5%;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 750px) {
    .menu{    
        margin-right: 40px;}
    .cont2{
        height: 650px;
    }    
    .cont1{
        height: 650px;
    }    
    .logo{
        margin-top: 700px;
        margin-bottom: 15px;
    }
    .ubi{
        padding: 8%;
        margin-bottom: 20px;
    }
    .ubi:hover{
        border-left: none var(--violeta);
        border-top: none var(--violeta);
        border-bottom: 3px groove var(--violeta);
        border-right: 3px groove var(--violeta);
        transition: all 1s;
        transform: scale(1.3) rotate(45deg); 
    }
    .ubi:hover p{
        transform: rotate(-45deg);
        font-size: 20px;
    }
}

@media screen and (max-width: 450px) {
    .menu{  
        justify-content: space-around;  
        margin-right: 5px;
    }
    .nav-link{
        padding: 2%; 

        }
    .cont2{
        height: 400px;
    }    
    .cont1{
        height: 400px;

    }
    .ubi{
        padding: 10%;
        margin-bottom: 20px;
    }
    .ubi:hover p{
        transition: all 1s;
        transform: rotate(-45deg);
        font-size: 20px;
    }
    .ubi:hover{
        border-left: none var(--violeta);
        border-top: none var(--violeta);
        border-bottom: 3px groove var(--violeta);
        border-right: 3px groove var(--violeta);
        transition: all 1s;
        transform: scale(1.3) rotate(45deg);
       
    }
}

@media screen and (max-width: 380px) {
    .ubi{
        padding: 12%;
        margin-bottom: 20px;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');