*{
    margin: 0px;
    padding: 0px;
    max-width: 100vw;
    --violeta:rgb(177, 20, 216);
    --gris: #1c1c1d;
}

.header{
    width: 100%;
    height: 95px;
    /* outline: solid 1px blueviolet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation-name: header;
    animation-direction: normal;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: unset;
    animation-play-state: unset;
    animation-timing-function: ease-in;
}



@keyframes header{
    0%{
        background-color: NONE;
    }
    100%{
        transition: background-color;
        background-color:var(--gris);
    }
}

.menu{
    /* outline: solid 1px blueviolet; */
    /* margin-right: 40px; */
    /* padding: 2%; */
    display: flex;
    position: relative;
    width: 200px;
    right: 80px;
    justify-content: space-between;
}
.nav-link{
    text-decoration: none;
    color: white;
    background-color:rgb(70, 71, 68);
    padding: 3%; 
    border-radius: 5%;   
}

.nav-link:hover{
    text-decoration: none;
    color: white;
    background-color:var(--violeta);
    border-radius: 15%;
    transition: all 1s;
}

.logopaka{
    color: white;
    height: 80px;
    margin-top: 10px;
    /* outline: 1px solid rgb(177, 20, 216); */
}

body{
    /* margin-top: 110px; */
    background-image: url(gente.jpg);
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    /* display: grid; */
    background-color: var(--violeta);
    /* justify-items: center; */
    
}

section{
    margin: 30px;
    /* outline: solid 2px greenyellow; */
    display: grid;
    justify-items: center;
}

.anos{
    display: grid;
    justify-content: center;
    color: var(--violeta);
    background-color: var(--gris);
    padding: 1.5%;
    border: 2.5px blueviolet solid;
    border-radius: 20%;
}
h2{
    font:fade;
}
.cont1{
    margin-top: 10px;
    margin-bottom: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 950px;
    width: 950px;
    outline: solid 8px var(--violeta) ;
    background-image: url(fecha.jpg);
    background-position: center ;
    background-size: cover;
    animation-name: cambia;
    animation-direction: initial;
    animation-duration: 50s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in;

    /* transition: repeat;
    transition-duration: repeat; */
}


@keyframes cambia{
    0%{
        transition: background-image ;
        background-image: url(fecha.jpg);
    }
    10%{
        transition: background-image ;
        background-image: url(HIGHMOB.jpg);
    }
    20%{
        transition: background-image ;
        background-image: url(kevin.jpg);
    }
    30%{
        transition: background-image ;
        background-image: url(marian.png);
    }
    40%{
        transition: background-image ;
        background-image: url(joaquincossi.png);
    }
    50%{
        transition: background-image ;
        background-image: url(jp.png);
    }
    60%{
        transition: background-image ;
        background-image: url(HIGHMOB.jpg);
    }
    70%{
        transition: background-image ;
        background-image: url(marian.png);
    }
    80%{
        transition: background-image 5s;
        background-image: url(martino.png);
    }
    85%{
        transition: background-image 5s;
        background-image: url(martino.png);
    }
    95%{
        transition: background-image ;
        background-image: url(RISAS.jpg);
    }
    100%{
        transition: background-image ;
        background-image: url(fecha.jpg);
    }
    
}

.cont2{
    margin-top: 30px;
    display: grid;
    justify-content: center;
    justify-items: center;
    background-image: url(RISAS.jpg);
    background-position: center;
    background-size: cover;
    height: 850px;
    width: 950px;
    outline: solid 8px rgba(177, 20, 216, 0.808);
    background-color: var(--gris);
}

.text2{
    
    margin: 5px;
    color: var(--gris);
    filter: drop-shadow(20px 10px 10px rgba(0, 0, 0, 0.877));


}

.ubi{
    height: 40px;
    width: 80px;
    border: var(--violeta) 3px solid;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color:rgb(70, 71, 68);
    padding: 3%; 
    border-radius: 5%;
    /* margin-left: 425px; */
}
.ubi:hover{
    text-decoration: none;
    color: white;
    background-color:var(--violeta);
    border-radius: 15%;
    transition: all 1s;
}
